<mat-toolbar color="primary" class="mat-elevation-z6" fxLayout fxLayoutGap="16px">
    <button mat-icon-button (click)="onToggleSideNav()">
        <mat-icon>menu</mat-icon>
    </button>
    <div fxFlex="100%"></div>
    <button mat-icon-button (click)="onLogout()" *ngIf="(authService.user | async)?.uid">
        <mat-icon>logout</mat-icon>
    </button>
    <button mat-icon-button  (click)="onLogin()" *ngIf="!(authService.user | async)?.uid">
        <mat-icon>input</mat-icon>
    </button>
</mat-toolbar>
