@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    margin: 0 !important;
    backgroud-color: #fef7f2;
}

ol.breadcrumb{
	background-color: white;
}


div.main-content{
	background-color: #eeeeee
}