<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" [opened]="isOpen">
        <mat-nav-list>
            <a *ngIf="(authService.user | async)?.uid" mat-list-item class="sidenav-item" [routerLink]="['/app/perfil']" disableRipple >
                <div class="item-selector"></div>
                <div fxFlex="100%"> Perfil </div>
                <mat-icon>person_pin</mat-icon>
            </a>
            <a mat-list-item class="sidenav-item" [routerLink]="['/app/negocios']" disableRipple>
                <div class="item-selector"></div>
                <div fxFlex="100%"> Negocios </div>
                <mat-icon>business</mat-icon>
            </a>
            <a mat-list-item class="sidenav-item" [routerLink]="['/app/analisis']" disableRipple>
                <div class="item-selector"></div>
                <div fxFlex="100%"> Analisis COVID </div>
                <mat-icon>graphic_eq</mat-icon>
            </a>
                   <a mat-list-item class="sidenav-item" [routerLink]="['/app/contacto']" disableRipple>
                <div class="item-selector"></div>
                <div fxFlex="100%"> Contacto </div>
                <mat-icon> contact_mail</mat-icon>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-nav-toolbar (toggleSideNav)="toggleSideNav()" (logout)="logout()"></app-nav-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
